body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #16134e;
}

.container {
  padding: 40px;
  text-align: center;
}

.title {
  font-size: 38px;
  margin-bottom: 40px;
  color: #1e3a8a;
}

/* EXACTLY 4 BOXES PER ROW */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* PRODUCT BOX */
.card {
  background: rgb(49, 56, 97);
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #0f2c58;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 16px;
  margin: 10px 0;
}

.price {
  font-weight: bold;
  color: green;
}
